<div class="main-container">
  <div class="col-sm-12 text-center">
    <div class="title">
      TIME TRACKER
    </div>
    <%= button_to 'LOG IN', new_user_session_path, class: "btn button login-btn" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "btn button signup-btn" %>
  <div>
<div>