<div class="container head-container px-0 text-center fixed-top">
  <div class="h-100 align-items-center justify-content-around d-flex text-white">
    <%= link_to 'Menu', main_path, class:"text-white" %>
    <h1>Edit Clock</h1>
    <%= link_to 'Back', clocks_path, class:"text-white"  %>
  </div>
</div>

<%= render 'form', clock: @clock %>

