/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.home-container {
  height: 100%;
  background-color: #f1f3f2;
}

.main-container {
  height: 100%;
  background: linear-gradient(0deg, rgba(55, 120, 194, 1) 0%, rgba(22, 55, 95, 1) 100%);
  color: #fff;
}

.head-container {
  height: 75px;
  background-color: #3778c2;
}

.head-ix-container {
  height: 95px;
  background-color: #3778c2;
}

.content-container {
  height: 100%;
  position: relative;
  background-color: #f1f3f2;
  color: #434b54;
  top: 75px;
}

.content-ix-container {
  height: 100%;
  position: relative;
  background-color: #f1f3f2;
  color: #434b54;
  top: 95px;
}

.group-ix-top {
  position: relative;
  top: 95px;
}

.title {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Alegreya', serif;
  font-size: 38px;
  color: #434b54;
}

.button {
  width: 100%;
  padding: 12px 0;
  font-weight: bold;
  font-size: 17px;
}

.btn-success {
  background-color: #5fb523;
}

.login-btn {
  background-color: #3778c2;
  color: #fff;
}

.signup-btn {
  color: grey;
}

.container {
  width: 100%;
}

.input {
  background: none;
}

.alert {
  padding: 4px;
  margin-bottom: 0;
}

.rounded-circle {
  border-radius: 50%;
}

.label-size {
  font-size: 20px;
}

.label-size-14 {
  font-size: 14px;
}

.border-icon {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.card-border {
  box-shadow: 0 0 3px rgb(197, 196, 196);
}
